<% @blog_entry.comments.each do |comment| %>
<% if comment.user %>
  <%='<h1>Comments:</h1>'.html_safe %>
  <div class="content">
    <%=comment.content.html_safe %>
  <div><%= 'last update: '.html_safe%>  <%= comment.updated_at%></div>
  </div>
  <div class="information"><%='create on: '.html_safe%> <%= comment.created_at %> <%=' by '.html_safe%>  <%= link_to "#{comment.user.email}", comment.user %></div>
<div><%= link_to 'Edit', edit_blog_entry_comment_path(@blog_entry, comment) %>
 <%= link_to 'Destroy', blog_entry_comment_path(@blog_entry, comment), confirm: 'Are you sure?', method: :delete %> </div>
<%end%>
<%end%> 

