<%= form_for(@blog_entry) do |f| %>
  <% if @blog_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_entry.errors.count, "error") %> prohibited this blog_entry from being saved:</h2>

      <ul>
      <% @blog_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Content: insert <!-- preview --> for preview on the entries list." %><br />
    <%= f.cktext_area :content, :toolbar => 'Full' %>
  </div>
  <div class="field">
    <label for="tags">Tags</label>
    <input id="tags" name="tags" size="30" type="text" value="<%@blog_entry.tags.each do |tag|%> <%= tag.name %> <%end%>">    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>
