<% @blog_entries.each do |blog_entry| %>
<%if blog_entry%> 
  <div id="blog_entry">
    <div id="title"><%= link_to "#{blog_entry.title}", blog_entry %></div>
    <div id="extract"><%if blog_entry.content%><%=truncate(blog_entry.content, :length => blog_entry.preview).html_safe %><%end%></div>
    <div id="information">
      <%="Tags: ".html_safe%><% blog_entry.tags.each do |tag|%> <%= tag.name %> <%end%> <%= " | ".html_safe %>
      <%="by: ".html_safe%><%= link_to "#{blog_entry.user.email}", blog_entry.user %><%= " | ".html_safe %> 
      <%="last update at ".html_safe %><%= blog_entry.updated_at %></div>
    <div id="acctions"><%= link_to 'Entrada completa', blog_entry %> | <%= link_to 'Edit', edit_blog_entry_path(blog_entry) %> 
    | <%= link_to 'Destroy', blog_entry, confirm: 'Are you sure?', method: :delete %></div>
  </div>
<% end %>
<% end %>
<br />

<%= link_to 'New Blog entry', new_blog_entry_path %>
