<p id="notice"><%= notice %></p>

<div id="blog_title">
  <%= @blog_entry.title %>
</div>

<div id="blog_content">
  <%= @blog_entry.content %>
</div>

<div id="blog_footer">
  by:<%= @blog_entry.user.email %>, last update:<%= @blog_entry.updated_at %></br>
  Tags:<%= @blog_entry.tags%>
</div>


<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>


<div class="comments">
 <hr>
  <h4>Comments:</h4>
  <%= render "comments/comment" %> 

<div class="form_comments">
<h4> Add a comment:</h4><br />
<% if flash[:error] %>
  <p id="notice"><%= flash[:error] %></p>
<% end %> 
<%= render "comments/form" %> 
</div>
