

<div id="blog_title">
  <%= @blog_entry.title %>
</div>

<div id="blog_content">
  <%= @blog_entry.content %>
</div>

<div id="blog_footer">
  by:<%= @blog_entry.user.email %>, last update:<%= @blog_entry.updated_at %></br>
  Tags:<%@blog_entry.tags.each do |tag|%> <%= tag.name %> <%end%>
</div>


<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>


<div class="comments">
 <hr>
  
  <%= render "comments/comment" %> 

<div class="form_comments">
<h4> Add a comment:</h4><br />
<%= render "comments/form" %> 
</div>
