<!DOCTYPE html>  
<html>  
<head>  
  <title>Community</title>  
  <%= stylesheet_link_tag  "style.css" %>  
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Contrail+One|Chivo' rel='stylesheet' type='text/css'>  
</head>  
<body>  
  <div id="notices">
  <% flash.each do |name, msg| %>  
    <%= content_tag :div, msg, :id => "flash#{name}" %>  
  <% end %>
  <div id="body">  
  <div id="user_nav">  
    <% if current_user %>  
      Logged in as <%= link_to "#{current_user.email}", current_user %>  
      <%= link_to "Log out", log_out_path %>  
    <% else %>
      <%unless current_page?(sign_up_path) or current_page?(log_in_path)%> 
      <%= render "sessions/form" %>
      <%end%>
    <% end %>  
  </div>
  <div id="main">
    <%= yield %>  
  </div>
  </div
</body>  
</html>  
