<!DOCTYPE html>  
<html>  
<head>  
  <title>Community</title>  
  <%= stylesheet_link_tag  "style.css" %>  
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Contrail+One|Chivo' rel='stylesheet' type='text/css'>  
</head>  
<body>  
  <% flash.each do |name, msg| %>  
    <%= content_tag :div, msg, :id => "flash#{name}" %>  
  <% end %>  
  <div id="user_nav">  
    <% if current_user %>  
      Logged in as <%= current_user.email %>  
      <%= link_to "Log out", log_out_path %>  
    <% else %> 
      <%= render "sessions/form" %>
    <% end %>  
  </div>   
  <div>
    <%= yield %>  
  </div>
</body>  
</html>  
